@import "../../App.scss";

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: $clr-white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transform: translateX(-100%);
    z-index: 1000;
    transition: $transition;
    padding: 2rem;

    &-visible{
        transform: translateX(0);
    }

    .navbar-hide-btn{
        position: absolute;
        right: 2rem;
        top: 2rem;
        transition: $transition;

        &:hover{
            color: $clr-orange;
        }
    }

    .side-content{
        margin-top: 5rem;
    }

    .side-nav{
        .side-item{
            padding: 0.8rem 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            &:last-child{
                border-bottom: none;
            }

            .side-link{
                font-size: 1.1rem;
                transition: $transition;
                font-weight: 500;

                &:hover{
                    color: $clr-orange;
                    margin-left: 10px;
                }
            }
        }
    }
}